In [1]:
import numpy as np
import pandas as pd
from scipy.stats import f, ncf
from geodetector import (
    factor_dector, 
    interaction_detector, 
    ecological_detector
)

# 读取示例数据

In [2]:
df = pd.read_excel('./GeoDetector_2018_Example(Disease Dataset)_test.xlsx', 
                   sheet_name='Input Data')
df.head()

   incidence  type  region  level
0       5.94     7       5      5
1       5.87     5       5      5
2       5.92     5       5      5
3       6.32     1       7      1
4       6.49     3       2      4

# 因子探测

In [3]:
factor_dector(df, 'incidence', ['type', 'region', 'level'])

                 type    region     level
q statistic  0.385717  0.637774  0.606709
p value      0.363236  0.000041  0.031209

# 交互作用探测

In [4]:
df1, df2 = interaction_detector(df, 'incidence', ['type', 'region', 'level'], relationship=True)
df1

            type    region     level
type    0.385717       NaN       NaN
region  0.735681  0.637774       NaN
level   0.663524  0.713597  0.606709

In [5]:
df2

                type        region level
type             NaN           NaN   NaN
region  Enhance, bi-           NaN   NaN
level   Enhance, bi-  Enhance, bi-   NaN

# 生态探测

In [6]:
ecological_detector(df, 'incidence', ['type', 'region', 'level'])

       type region  level
type    NaN    NaN    NaN
region    Y    NaN    NaN
level     Y      N    NaN